<!doctype HTML>
<html>
  <head>
    <title>Search OMDB API - Movie Database</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/app.js"></script>
    <body onload="movieApp()">
  </head>
  <body>
    <header>
      <form id="search-form">
        <label>OMDB Movie Search
          <input type="text" name="movie" id="search-input" placholder="movie title">
        </label>
      </form>
      <div class="favorite-nav">
        <a id="fav-link" href="#">Favorites</a>
      </div>
    </header>

    <div id="content"></div>

  </body>
</html>
